<div>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officiis minus, minima ipsam explicabo voluptate quaerat, dolorem nisi beatae culpa excepturi! Suscipit aspernatur enim totam dolor dolore expedita, ex asperiores minus amet. Illo, quibusdam odio! Esse quasi nulla, dolor tenetur laboriosam, quaerat odio eligendi enim commodi fuga error libero assumenda facere repellendus dolorum velit accusamus distinctio!</p>
</div>
<div>
    <ul>
        {{#each response}}
        <li>
            <h2>{{this.asignatura}}</h2>
            <p>{{this.nota}}</p>
            <p>{{this.titulo}}</p>
        </li>
        {{/each}}
    </ul>
</div>