<div>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, aspernatur temporibus vitae illum rem illo atque debitis similique recusandae officiis cupiditate. Dolores blanditiis culpa minima facere ab alias eligendi tempora, molestiae ea illum sequi earum! Eius fugit recusandae eaque dolor sit amet commodi asperiores! Ut quod illum, voluptates provident obcaecati sint cumque modi.</p>
    {{#each result}}
        <p>{{this.asignatura}}</p>
        <h5>{{this.nota}}</h5>
        <h6>{{this.titulo}}</h6>
    {{/each}}
</div>